@import './_base';

body {
  background-color: $bg_color_light;
  height:100vh
}
main {
  @include flex(center);
  flex-direction: column;
  text-align: center;
  margin: auto;
  height:100%;

  h1 {
    margin-top: 1em;
    font-size: 25px;
    font-weight: bold;
    color: #d7e0ff;
  }
  .btn-container {
    margin: 2em 7em;
    @include flex(space-between);
    border-radius: 2em;
    padding: 10px;
    background-color: $bg_color_dark;
    button {
      font-size: 12px;
      border-radius: 2em;
      padding: 1.3em 2em;
      background-color: transparent;
      color: $gray-color;
      outline: none;
      border: none;
      font-weight: bold;
    }
  }
  .stop_clock_container {
    border-radius: 100%;
    height: 25rem;
    width: 25rem;
    display: flex;
    background-color: $bg_color_lighter;
    box-shadow: -10px -20px 50px 10pxrgba (74, 101, 224, 0.2),
      10px 20px 50px 10px rgba (5, 5, 10, 0.75);
    @media (max-width: 625px) {
      width: 20rem;
      height: 20rem;
    }
    .inner_container {
      border-radius: 100%;
      width: 23rem;
      height: 23rem;
      margin: auto;
      @include flex(center);
      background-color: $bg_color_dark;
      @media (max-width: 625px) {
        width: 18rem;
        height: 18rem;
      }
      .progress_bar {
        border-radius: 100%;
        width: 22rem;
        height: 22rem;
        @include flex(center);
        @media (max-width: 625px) {
          width: 17rem;
          height: 17rem;
        }
      }
      .center_circle {
        @include flex(center);
        flex-direction: column;
        width: 21rem;
        height: 21rem;
        background-color: $bg_color_dark;
        border-radius: 100%;
        color: $gray-color;
        font-weight: bold;
        @media (max-width: 625px) {
          width: 16rem;
          height: 16rem;
        }
        .timer {
          font-size: 100px;
          display: flex;
          @media (max-width: 625px) {
            font-size: 80px;
          }
        }
      }
      .start_pause_btn {
        cursor: pointer;
        font-size: 25px;
        letter-spacing: 5px;
        color: $gray-color;
        outline: none;
        border: none;
        background-color: transparent;
        width: 100%;
      }
    }
  }
}
