@import './base';

.setting_btn {
  font-size: 25px;
  padding: 10px 30px;
  cursor: pointer;
  color: $gray-color;
  &:hover {
    color: $bg_color_lighter;
  }
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1.5rem 0em;
    width: 28rem;
    height: 26rem;
    border-radius: 1rem;
    @media (max-width: 625px) {
      width: 20rem;
      height: auto;
      padding-bottom: 3rem;
    }
    .modal_heading {
      padding: 0em 1em 1em;
      @include flex(space-between);
      border-bottom: 1px solid $gray-color-100;
      color: $bg_color_dark;
      .close-button {
        padding: 0.8em;
        cursor: pointer;
        background-color: transparent;
        border-radius: 50%;
        &:hover {
          background-color: $gray-color-100;
        }
      }
      p {
        font-size: 30px;
        font-weight: bold;
      }
    }
    .modal_content {
      padding: 0em 1em;
      .input_container {
        border-bottom: 1px solid $gray-color-100;
        padding: 1.5em 0em;
        .title {
          font-weight: bold;
          text-align: left;
          letter-spacing: 3px;
          color: $bg_color_dark;
          @media (max-width: 625px) {
            text-align: center;
          }
        }
        .timer_inputs {
          @include flex(space-between);
          padding-top: 0.5em;
          gap: 5px;
          @media (max-width: 625px) {
            flex-direction: column;
          }
          .input_box {
            text-align: left;
            @media (max-width: 625px) {
              @include flex(space-between);
            }
            label {
              font-size: 12px;
            }
            input {
              font-weight: bold;
              background-color: rgb(214, 223, 255);
              margin-top: 5px;
              border-radius: 7px;
              width: 100%;
              padding: 1em;
              outline: none;
              border: 1px solid $gray-color-100;
              @media (max-width: 625px) {
                width: 50%;
              }
            }
          }
        }
      }
      .font_selection,
      .color_selection {
        padding: 1em 0em;
        @include flex(space-between);
        @media (max-width: 625px) {
          flex-direction: column;
        }
        p {
          font-weight: bold;
          @media (max-width: 625px) {
            padding-bottom: 0.5em;
          }
        }
        ._types {
          @include flex(space-between);
          padding: 0em 0.5em;
          gap: 10px;
          span {
            @include flex(center);
            font-size: 14px;
            font-weight: bold;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            background-color: $gray-color;
            cursor: pointer;
            .fa-check {
              display: none;
            }
          }
        }
      }
      .font_selection {
        border-bottom: 1px solid $gray-color-100;
      }
    }
    .apply_btn {
      font-size: 18px;
      font-weight: bold;
      color: #000;
      outline: none;
      border: none;
      padding: 0.7em 2.5em;
      border-radius: 20px;
      position: absolute;
      bottom: -15px;
      left: 35%;
      @media (max-width: 625px) {
        left: 30%;
      }
    }
  }
}

.add_animation {
  animation: fadeIn;
  animation-duration: 1s;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
